// ABOUT *******************
.about {
     padding-top: 50px;
     text-align: center;
     h2 {
          text-transform: uppercase;
          font-family: $baseFont;
          font-size: 3rem;
          text-shadow: 2px 2px 1px $bubble;
          text-align: left;
     }

     h3 {
          font-family: $baseFont;
          font-size: 2.2rem;
          text-shadow: 2px 2px 1px $bubble;
     }
     p {
          font-size: 1.8rem;
          margin: 40px 0;
          font-family: $baseFont;
          letter-spacing: 1.5px;
          line-height: 1.5;
          text-align: center;
     }
}
.me {
     width: 400px;
     height: 500px;
     border: 10px solid $blueGreen;
     margin-top: 20px;
}
.socialWrap {
     position: static;
}
.socIcons {
     position: absolute;
     width: 100%;
     padding: 50px;
     text-align: center;
}
.socIcons {
     font-size: 40px;
     position: absolute;
     width: 90%;
     padding: 50px;
     text-align: center;
}
.socIcons a {
     border: 3px solid $blueGreen;
     min-height: 30px;
     min-width: 30px;
     margin-left: 15px;
     margin-right: 15px;
     display: inline-block;
     transition-duration: 0.5s;
     transition-property: all;
     transition-timing-function: ease;
     transition-delay: 0s;
     text-align: center;
}
.socIcons .rhombus i {
     font-size: 40px;
}
.link {
     font-weight: 700;
     color: $bubble;
     position: relative;
     text-transform: uppercase;
     display: inline-block;
     min-height: 40px;
     min-width: 171px;
     border: 2px solid transparent;
     transition-property: all;
     transition-duration: 0.5s;
     transition-timing-function: ease;
     transition-delay: 0s;
     line-height: 40px;
}