// GROUP SLIDES *************
.slideContent {
     background-image: url('../assets/ash-edmonds-XZ0xN0hmpi4-unsplash(2).jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.slideContent {
     h4 {
          text-shadow: 2px 2px 1px $blah;
          margin-top: 30px;
          font-size: 2rem;
     }
}
.cohort {
     h3 {
          text-align: left;
          font-size: 3rem;
          text-shadow: 2px 2px 1px $bubble;
          padding-bottom: 100px;
     }
}
.cohortSlideWrapper {
     width: 400vw;
     animation: cohortSlide 22s ease infinite;
     height: 100vh;
}
.cohortSlide {
     float: left;
     height: 100vh;
     width: 100vw;
}
@keyframes cohortSlide {
     20% {margin-left: 0px;}
     30% {margin-left: -100vw}
     50% {margin-left: -100vw;}
     60% {margin-left: -200vw;}
     70% {margin-left: -200vw;}
     80% {margin-left: -300vw;}
     90% {margin-left: -300vw;}
}
.rhombus {
     transform: rotateZ(46deg);
     height: 70px;
     width: 70px;
     position: relative;
     margin-bottom: 30px;
}
.rhombus i {
     position: absolute;
     transform: rotateZ(-46deg);
     font-size: 40px;
     top: 15px;
     left: 15px;
     color: $bubble;
}
.rhombus i:hover, .rhombus i:focus, .rhombus a {
     color: $blueGreen;
     cursor: pointer;
}
.cube {
     width: 300px;
     height: 300px;
     border: 5px solid $blueGreen;
     margin: 50px;
}