// FORM ******************
.contactForm {
     margin: 0 auto;
     text-align: center;
     width: 60%;
     button {
          margin: 20px;
          background-color: $blueGreen;
          color: whitesmoke;
          font-family: $baseFont;
          box-shadow: 2px 2px 1px $bubble;
          padding: .3em .2em;
          font-size: 1.1rem;
     }
     button:hover {
          color: whitesmoke;
          background-color: $bubble;
          box-shadow: 2px 2px 1px black;
     }
}
.form {
     text-align: center;
     margin: 50px;
}
.form h3 {
     text-align: left;
     font-size: 3rem;
     text-shadow: 2px 2px 1px $bubble;
}
.groupForm {
     display: flex;
     flex-direction: column;
     margin: 10px 0;
     label {
          text-transform: uppercase;
          font-family: $baseFont;
          color: $blueGreen;
          letter-spacing: 1.5px;
          padding: 10px 0;
          text-align: left;
          
     }
     input {
          border: 2px solid $blueGreen;
          background-color: transparent;
          color: $blueGreen;
          text-align: center;
          padding: 1em .5em;
          box-shadow: 3px 3px 1px $bubble;
          font-size: 1.1rem;
          caret-color: $blueGreen;
     }
     .message {
          border: 2px solid $blueGreen;
          background-color: transparent;
          color: $blueGreen;
          box-shadow: 3px 3px 1px $bubble;
          resize: none;
          margin-bottom: 40px;
          text-align: center;
          padding-top: 20px;
     }
}