// FORM ******************
.contactForm {
     margin: 0 auto;
     text-align: center;
     width: 60%;
     button {
          margin: 20px;
          background-color: $blueGreen;
          color: #333;
          font-family: $baseFont;
          box-shadow: 2px 2px 1px #333;
          cursor: pointer;
     }
     button:hover {
          color: $blueGreen;
          background-color: $bubble;
          cursor: pointer;
     }
}
.form {
     text-align: center;
     margin: 50px;
}
.form h3 {
     text-align: left;
     font-size: 3rem;
     text-shadow: 2px 2px 1px $bubble;
}
.groupForm {
     display: flex;
     flex-direction: column;
     label {
          text-transform: uppercase;
          font-family: $baseFont;
          color: $blueGreen;
          letter-spacing: 1.5px;
          padding: 10px;
          text-align: left;
          text-shadow: 2px 2px 1px #333;
     }
     input {
          border: 2px solid $blueGreen;
          background-color: transparent;
          color: $blueGreen;
          text-align: center;
          box-shadow: 2px 2px 1px #333;
     }
     .message {
          border: 2px solid $blueGreen;
          background-color: transparent;
          color: $blueGreen;
          box-shadow: 2px 2px 1px #333;
          resize: none;
          margin-bottom: 40px;
     }
}