@media(max-width: 1800px) {
     .projects {
          .wrap {
               width: 100%;
          }
     }
     .techstack {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
     }
     .box1, .box2 {
          display: flex;
          flex-direction: row;
          margin: 0 auto;
     }
     .rhombusBox {
          margin: 50px 100px;
     }
}
@media(max-width: 1270px) {
     .projects {
          .wrap {
               width: 100%;
          }
     }
     .techstack {
          display: flex;
          flex-direction: row;
     }
     .box1, .box2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
     }
     .rhombusBox {
          width: 100%;
     }
}
@media(max-width: 941px) {
     .skills {
          display: flex;
          flex-direction: column;
     }
     .techstack {
          display: flex;
          flex-direction: row;
     }
     .box1, .box2 {
          display: flex;
          flex-direction: column;
     }

     .rhombusBox {
          width: 100%;
          margin: 50px 100px;
     }

     .projects {
          .wrap {
               width: 100%;
          }
     }

     .cohort h3 {
          padding-top: 50px;
     }
}
@media(max-width: 767px) {
     .me {
          height: 500px;
          width: 400px;
          margin-top: 50px;
     }
     .techstack {
          flex-direction: column;
     }

     .rhombusBox {
          width: 100%;
     }
     .projects {
          .wrap {
               width: 100%;
          }
     }
}
@media(max-width: 480px) {
     .me {
          height: 300px;
          width: 300px;
     }

     .rhombusBox{
          width: 100%;
     }
     .projects {
          .wrap {
               width: 100%;
          }
     }
     .contactForm {
          width: 100%;
     }
}