// PROJECTS ***************
.projects {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding-top: 50px;
}
.project h3 {
     font-family: $baseFont;
     text-align: left;
     text-transform: uppercase;
     font-size: 3rem;
     text-shadow: 2px 2px 1px $bubble;
}
.wrap {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 20%;
     margin: 40px;
     text-align: center;
          h4 {
               font-size: 2rem;
               text-align: center;
               margin: 20px 0;
               font-family: $baseFont;
          }
          p  {
               font-family: $baseFont;
               letter-spacing: 1.5px;
               line-height: 1.5;
               font-size: 1.5rem;
               margin-top: 20px;
          }
}
.project .rhom {
     transform: rotateZ(46deg);
     height: 25px;
     width: 25px;
     position: relative;
     margin: 30px
}

.frame {
     border: 5px solid $blueGreen;
     height: 430px;
     width: 300px;
     padding: 10px;
     img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          object-fit: contain;
          height: 400px;
          max-width: 100%;
          
          
     }
}

.frameB {
     border: 5px solid $blueGreen;
     height: 380px;
     width: 360px;
     padding: 10px;
     img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          object-fit: contain;
          height: 350px;
          max-width: 100%;
          
          
     }
}
.frameZ {
     border: 5px solid $blueGreen;
     height: 300px;
     width: 350px;
     padding: 10px;
     img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          object-fit: contain;
          height: 275px;
          max-width: 100%;
          
     }
}
.rhom i:hover, .rhom i:focus {
     color: $blueGreen;
}
.bop {
     color: $bubble;
     position: absolute;
     bottom: 80px;
     right: 80px;
}
.bop:hover, .bop:focus {
     color: $blueGreen;
}

.links {
     display: flex;
     flex-direction: column;
     a {
          font-family: $baseFont;
     }
}

.a {
     text-align: end;
}
.b {
     text-align: start;
}