// SKILLS ******************
.skills {
     padding-top: 150px;
}
.skills h3 {
     text-align: left;
     font-size: 3rem;
     text-shadow: 2px 2px 1px $bubble;
}
.techStack {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: 50px auto;
     position: relative;
}

.rhombusBox {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     // margin: 20px auto;
     margin: 20px;
     
}
.rhombusBox h4 {
     margin-top: 20px;
     font-size: 1.4rem;
}

.rhom {
     padding: 38px;
     transform: rotateZ(46deg);
     position: relative;
     border: 3px solid $blueGreen;
     height: 40px;
     width: 40px;
     
}
.rhom i {
     transform: rotateZ(-46deg);
     margin-left: 10px;
     margin-right: 10px;
     display: inline-block;
     position: absolute;
     font-size: 35px;
     top: 20px;
     left: 5px;
}
.box1 {
     text-align: right;
     font-size: 20px;
     top: 135px;
     left: -50px;
     position: absolute;
     width: 90%;
}