// SKILLS ******************
.skills {
     padding-top: 50px;
}
.skills h3 {
     text-align: left;
     font-size: 3rem;
     text-shadow: 2px 2px 1px $bubble;
}
.techStack {
     display: flex;
     flex-direction: row; 
     flex-wrap: wrap;
     margin: 50px auto;
}

.rhombusBox {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     margin: 30px auto;
     
}
.rhombusBox h4 {
     margin-top: 20px;
     font-size: 1.4rem;
}

.rhom {
     padding: 38px;
     transform: rotateZ(46deg);
     position: relative;
     border: 3px solid $blueGreen;
     height: 40px;
     width: 40px;
     
}
.rhom i {
     transform: rotateZ(-46deg);
     margin-left: 15px;
     margin-right: 15px;
     display: inline-block;
     position: absolute;
     font-size: 35px;
     top: 20px;
     left: 5px;
}