$blueGreen: darken($color: #e7feff, $amount: 55);
$bubble: darken($color: #e7feff, $amount: 1.5);
$logoFont: 'Aboreto', cursive;
$baseFont: 'Explora', cursive;



html {
     font-size: 125%;
}

body {
     margin: 0;
     height: 100vh;
     cursor: url('../assets/dragon.png'), text;
}

// .cursor {

// }

a {
     text-decoration: none;
}
.textCenter {
     text-align: center;
}
a, link, a:active, a:hover, a:focus {
     text-decoration: none;
     outline: none;
     color: $blueGreen;
     font-family: $logoFont;
}
ol, ul {
     margin-top: 0;
     margin-bottom: 10px;
     list-style: none;
}
.logo {
     margin-left: 20px;
     font-size: 1.3rem;
     letter-spacing: 1.5px;
     z-index: 90;
     position: relative;
     display: inline-block;
     a {
          background-color: transparent;
     }
}
.logo a {
     font-family: $baseFont;
     color: $bubble;
}
h1 {
     font-family: $logoFont;
}
.slideContent h1 {
     font-size: 3rem;
     padding-top: 150px;
     text-transform: uppercase;
     
}
h3 {
     text-transform: uppercase;
     margin: 20px 0;
     font-family: $baseFont;
}
h4 {
     font-family: $baseFont;
}

p {
     font-weight: lighter;
}
// use this for slideshow: https://codepen.io/daysahead/pen/mJqBge

.wrapper {
     max-width: 1400px;
     width: 90%;
     margin: 0 auto;
}

.rhombus {
     transform: rotateZ(46deg);
     height: 70px;
     width: 70px;
     position: relative;
     margin-bottom: 30px;
}
.rhombus i {
     position: absolute;
     transform: rotateZ(-46deg);
     font-size: 40px;
     top: 15px;
     left: 15px;
     color: $bubble;
}
.rhombus i:hover, .rhombus i:focus, .rhombus a {
     color: $blueGreen;
}
.cube {
     width: 300px;
     height: 300px;
     border: 5px solid $blueGreen;
     margin: 50px;
}