@import "setup";
@import "typography";
@import "about";
@import "header";
@import "footer";
@import "skills";
@import "projects";
@import "form";
@import "media";

body {
     color: $blueGreen;
     background-color: darken($color: #e7feff, $amount: 15);
     overflow-x: hidden;
}












