@import "setup";
@import "typography";

body {
     color: #333;
     background-color: gray;
}

.wrapper {
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
}

.box {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
}

.box::before {
     display: table;
     content: " ";
}

.topHeader .info {
     color: #fff;
     letter-spacing: 0.2px;
     word-spacing: 0.5px;
}

.textCenter {
     text-align: center;
}

.row {
     margin-right: -15px;
     margin-left: -15px;
}
.noPadding {
     padding-left: 0;
     padding-right: 0;
}

.colSm12 {
     position: relative;
     min-height: 1px;
}

.colLg4 {
     position: relative;
     min-height: 1px;
     padding-left: 15px;
     padding-right: 15px;
}

i {
     font-size: 1rem;
}

a, a:link, a:active, a:hover, a:focus {
     cursor: pointer;
     text-decoration: none;
     outline: none;
}

a {
     background-color: transparent;
}

.buttonTopClose {
     background-color: $blueGreen;
     display: inline-block;
     min-width: 35px;
     min-height: 35px;
     padding-top: 8px;
     position: relative;
     bottom: -27px;
     cursor: pointer;
     transition-property: all;
     transition-duration: 0.5s;
     transition-timing-function: ease;
     transition-delay: 0s;
}

.rhombus {
     transform: rotateZ(46deg);
}

.topHeader span.cancel::before {
     margin-left: 0;
     display: inline-block;
     color: #24231c;
}

.mfpHide {
     display: none !important;
}

.contactForm {
     margin: 0 auto;
     text-align: center;
}

.buttonTopToggle {
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 26px 26px 0 26px;
     border-color: $blueGreen transparent transparent transparent;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateY(-50%);
     z-index: 10;
     cursor: pointer;
     transition-property: all;
     transition-duration: 0.5s;
     transition-timing-function: ease;
     transition-delay: 0s;
     color: #201e15;

}

.buttonTopToggle::before {
     content: "";
     font-style: normal normal normal 14px/1 FontAwesome;
     position: absolute;
     top: -25px;
     left: -5.5px;
     font-size: 1.05rem;
     color: #201e15;
}

.buttonBottom::before {
     content: "";
     font-style: normal normal normal 14px/1 FontAwesome;
     position: absolute;
     top: 5px;
     left: -5.5px;
     font-size: 1.05rem;
     color: #201e15 
}



.nav {
     position: relative;
     min-height: 40px;
     top: 33px;
}

.logo {
     font-weight: 700;
     line-height: normal;
     font-size: 36px;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     z-index: 100;
     position: relative;
     display: inline-block;
}

.logo a {
     color: #fff;
}
.mainMenu {
     padding: 0;
     margin: 0;
     transform: translateX(-200%);
     position: fixed;
     top: 0;
     min-height: 40px;
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.9); 
     text-align: center;
     transition-duration: 1s;
     transition-property: all;
     transition-timing-function: ease;
     transition-delay: 0s;
     z-index: 80;
}

.mainMenu > ul {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
}

.mainMenu li {
     position: relative;
}

.mainMenu .menuItem a::after {
     content: "";
     width: 23px;
     height: 15px;
     display: inline-block;
     background-image: url();
     opacity: 0;
     position: absolute;
     left: 103%;
     top: 50%;
     transform: translateY(-50%);
     transition-property: all;
     transition-duration: 1s;
     transition-timing-function: ease-out;
     transition-delay: 0s;
}

.mainMenu > ul > .menuItem > a {
     display: block;
     font-weight: 300;
     letter-spacing: 0.96px;
     line-height: 0.78125;
}

.nav .socialWrap {
     position: static;
}

.socIcons.bottomIcon {
     position: absolute;
     width: 100%;
     text-align: center;
}

.socIcons a {
     border: 2px solid $blueGreen;
     min-height: 30px;
     min-width: 30px;
     margin-left: 15px;
     margin-right: 15px;
     display: inline-block;
     transition-duration: 0.5s;
     transition-property: all;
     transition-timing-function: ease;
     transition-delay: 0s;
     text-align: center;
}
.topSlider {
     margin-top: -43px;
     
}

.topSlider .swiperBox {
     padding-bottom: 40px;
     width: 100%;
}

.topSlider .svgWrap {
     height: 100vh;
}

.topSlider .imgWrap {
     height: 100vh;
}


.swiperBox {
     margin: 0 auto;
     position: relative;
     overflow: hidden;
     direction: ltr;
     backface-visibility: hidden;
     height: inherit;
}

.swiperWrapper {
     width: 625px;
     transform: translate3d(-500px, 0px, 0px);
     transition-duration: 1s;
     height: 708px;
     position: relative;
     transition-property: transform, left, top;
     transition-timing-function: ease;
     box-sizing: content-box;
     cursor: ew-resize;
     margin: 0 auto;
     float: left;
}

.swiperSlide .sBackSwitch .swiperSlideDuplicate .active {
     background-image: url('../assets/92827504_156723792366254_1471150710820963535_n\ copy.jpg');
     width: 1200px;
     height: 815px;
}

.topSlider .swiperSlide {
     background-position: center;
}

.swiperSlide {
     background-position: center;
     float: left;
     position: relative;

}

.svgWrap {
     position: absolute;
     top: 0;
     left: 0;
     width: 100;
     z-index: 10;
     background-position: center;
     background-size: cover;
}

.sBackSwitch {
     background-repeat: no-repeat;
     background-size: cover;
}

.imgWrap .sImgSwitch {
     visibility: hidden;
}

.svgWrap .sImgSwitch {
     visibility: hidden;
     display: none !important;
}

img {
     vertical-align: middle;
}

.topSlider .wrapInfo {
     position: absolute;
     top: 50%;
     transform: translateY(-23%);
     width: 100%;
     text-align: center;
     z-index: 10;
}

.topSlider .titleSlide {
     font-size: 67px;
     font-weight: 200;
     color: #fff;
}

.topSlider .titleSlide a {
     color: $blueGreen;
     position: relative;
}

.marginLg25B {
     margin-bottom: 25px;
}

.link {
     font-weight: 700;
     color: #fff;
     position: relative;
     text-transform: uppercase;
     display: inline-block;
     min-height: 40px;
     min-width: 171px;
     border: 2px solid transparent;
     transition-property: all;
     transition-duration: 0.5s;
     transition-timing-function: ease;
     transition-delay: 0s;
     line-height: 40px;
}


.about {
     position: relative;
     margin-top: -40px;
     background-position-x: 50%;
     background-position-y: 65%;
}

.about .svgWrap {
     bottom: 0;
     height: 0 auto;
}

.projects {
     position: relative;
     background-image: url(../../assets/diamond.jpg);
}

.projects .sBackSwitch {
     background-size: cover;
     background-repeat: no-repeat;
}

.projects .sBackSwitch .sImgSwitch {
     display: none !important;
}


.skills .swiperBox .swiperWrapper {
     width: 1455px;
     transform: translate3d(-873px 0px 0px);
     transition-duration: 5s;
     height: 476px;
}



.contactInfo {
     text-align: center;
     position: relative;
     z-index: 10;
     
}


.boxWrapper {
     position: relative;
     z-index: 10;
}

.footer {
     position: relative;
     margin-bottom: -10px;
}

.footer .footerGrayscale {
     filter: grayscale(100%);
}

.footer .copyright {
     position: absolute;
     z-index: 10;
     width: 100%;
     text-align: center;
}

.footer .copyright p {
     color: #fff;
     font-weight: 200;
     letter-spacing: 1px;
}

p {
     margin: 0 0 10px;
}

.buttonBottom {
     top: auto;
     bottom: 0;
     border-width: 0 26px 26px 26px;
     border-color: transparent transparent $blueGreen transparent;
     width: 0;
     height: 0;
     border-style: solid;
     position: absolute;
     left: 50%;
     transform: translateY(-50%);
     z-index: 10;
     cursor: pointer;
     transition-property: all;
     transition-duration: 0.5s;
     transition-timing-function: ease;
     transition-delay: 0s;
     color: #201e15;

}

// slideshow

.slideshow {
     overflow: hidden;
     height: 100vh;
     width: 100vw;
     margin: 0 0;
}

.slide-wrapper {
     width: 100vw;
     -webkit-animation: slide 18s ease infinite;
}

.slide {
     float: left;
     height: 100vh;
     width: 100vw;
}

.slide:nth-child(1) {
     background-image: url('../assets/92827504_156723792366254_1471150710820963535_n\ copy.jpg');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
}

.slideHeader:nth-child(2) {
     background: #037E8C;
}


.slide-number {
     color: #000;
     text-align: center;
     font-size: 10em;
}

@-webkit-keyframes slide {
     20% {margin-left: 0px;}
     30% {margin-left: -100vw;}
     50% {margin-left: -100vw;}
     60% {margin-left: 0px;}
     // 70% {margin-left: -1456px;}
     // 80% {margin-left: -2184px;}
     // 90% {margin-left: -2184px;}
}

// ***************************
// .box {
//      display: flex;
// }

// .diamond {
//      background-color: gold;
//      height: 125px;
//      width: 125px;
//      transform: rotate(45deg);
// }