html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

a {
  text-decoration: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
}

.header {
  color: #333;
}

.logo {
  margin-left: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  z-index: 90;
  position: relative;
  display: inline-block;
}
.logo a {
  background-color: transparent;
  cursor: pointer;
}

.logo a {
  font-family: "El Messiri", sans-serif;
  color: black;
}

h1 {
  font-family: "Play", sans-serif;
}

.slideContent h1 {
  font-size: 4rem;
  padding-top: 150px;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin: 20px 0;
  font-family: "El Messiri", sans-serif;
}

h4 {
  text-transform: uppercase;
  font-family: "El Messiri", sans-serif;
}

body {
  color: #333;
  background-color: gray;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.topHeader .info {
  color: #fff;
  letter-spacing: 0.2px;
  word-spacing: 0.5px;
}

.textCenter {
  text-align: center;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

.colSm12 {
  position: relative;
  min-height: 1px;
}

.colLg4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

i {
  font-size: 1rem;
}

a, a:link, a:active, a:hover, a:focus {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a {
  background-color: transparent;
}

.buttonTopClose {
  background-color: #5bf0b2;
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
  padding-top: 8px;
  position: relative;
  bottom: -27px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rhombus {
  -webkit-transform: rotateZ(46deg);
          transform: rotateZ(46deg);
  height: 50px;
  width: 50px;
  position: relative;
}

.rhombus i {
  position: absolute;
  -webkit-transform: rotateZ(-46deg);
          transform: rotateZ(-46deg);
  font-size: 28px;
  top: 10px;
  left: 10px;
}

.topHeader span.cancel::before {
  margin-left: 0;
  display: inline-block;
  color: #24231c;
}

.mfpHide {
  display: none !important;
}

.contactForm {
  margin: 0 auto;
  text-align: center;
}

.buttonTopToggle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 26px 0 26px;
  border-color: #5bf0b2 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #201e15;
}

.buttonTopToggle::before {
  content: "";
  font-style: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: -25px;
  left: -5.5px;
  font-size: 1.05rem;
  color: #201e15;
}

.nav {
  position: relative;
  min-height: 40px;
  top: 33px;
}

.logo {
  font-weight: 700;
  line-height: normal;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  z-index: 100;
  position: relative;
  display: inline-block;
}

.mainMenu {
  padding: 0;
  margin: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  position: fixed;
  top: 0;
  min-height: 40px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 80;
}

.mainMenu > ul {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.mainMenu li {
  position: relative;
}

.mainMenu .menuItem a::after {
  content: "";
  width: 23px;
  height: 15px;
  display: inline-block;
  opacity: 0;
  position: absolute;
  left: 103%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.mainMenu > ul > .menuItem > a {
  display: block;
  font-weight: 300;
  letter-spacing: 0.96px;
  line-height: 0.78125;
}

.nav .socialWrap {
  position: static;
}

.socIcons.bottomIcon {
  position: absolute;
  width: 100%;
  text-align: center;
}

.socIcons a {
  border: 2px solid #5bf0b2;
  min-height: 30px;
  min-width: 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  text-align: center;
}

.topSlider {
  margin-top: -43px;
}

.topSlider .swiperBox {
  padding-bottom: 40px;
  width: 100%;
}

.topSlider .svgWrap {
  height: 100vh;
}

.topSlider .imgWrap {
  height: 100vh;
}

.swiperBox {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: inherit;
}

.topSlider .swiperSlide {
  background-position: center;
}

.swiperSlide {
  background-position: center;
  float: left;
  position: relative;
}

.svgWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
  z-index: 10;
  background-position: center;
  background-size: cover;
}

.topSlider .wrapInfo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-23%);
          transform: translateY(-23%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.topSlider .titleSlide {
  font-size: 67px;
  font-weight: 200;
  color: black;
}

.topSlider .titleSlide a {
  color: #5bf0b2;
  position: relative;
}

.marginLg25B {
  margin-bottom: 25px;
}

.link {
  font-weight: 700;
  color: black;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  min-height: 40px;
  min-width: 171px;
  border: 2px solid transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  line-height: 40px;
}

.about {
  text-align: center;
}
.about h2 {
  text-transform: uppercase;
  font-family: "El Messiri", sans-serif;
}

.me {
  width: 500px;
  height: 500px;
  border: 10px solid #5bf0b2;
}

.projects {
  position: relative;
  background-image: url(../../assets/diamond.jpg);
}

.projects .sBackSwitch {
  background-size: cover;
  background-repeat: no-repeat;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 150px;
  padding-right: 0;
  padding-left: 0;
}

.iPod {
  width: 200%;
  margin-left: 10px;
}

.iPod h3 {
  font-family: "El Messiri", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.iPod p {
  font-family: "El Messiri", sans-serif;
  font-size: 0.7rem;
  opacity: 0.5;
}

.skills i {
  position: relative;
  padding: 10px;
  font-size: 30px;
}

.skills .swiperBox .swiperWrapper {
  width: 1455px;
  -webkit-transform: translate3d(-873px 0px 0px);
          transform: translate3d(-873px 0px 0px);
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  height: 476px;
}

img {
  width: 300px;
  height: 300px;
  border: 5px solid #5bf0b2;
  margin: 40px;
}

.contactInfo {
  text-align: center;
  position: relative;
  z-index: 10;
}

.boxWrapper {
  position: relative;
  z-index: 10;
}

.footer section {
  margin-bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footerGrayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.footer .copyright {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.footer .copyright p {
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}

.slideContent {
  background-image: url("../assets/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideContent p {
  padding: 100px;
}

.slideshow {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0 0;
}

.slide-wrapper {
  width: 310vw;
  -webkit-animation: slide 18s ease infinite;
          animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 100vh;
  width: 100vw;
}

.slide:nth-child(1) {
  background-image: url("../assets/jacob-padilla-O3LVKottLPc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide:nth-child(2) {
  background-image: url("../assets/ash-edmonds-XZ0xN0hmpi4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide:nth-child(3) {
  background-image: url("../assets/jacob-padilla-O3LVKottLPc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -120vw;
  }
  50% {
    margin-left: -120vw;
  }
  60% {
    margin-left: -220vw;
  }
  70% {
    margin-left: -220vw;
  }
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -120vw;
  }
  50% {
    margin-left: -120vw;
  }
  60% {
    margin-left: -220vw;
  }
  70% {
    margin-left: -220vw;
  }
}
.cohortSlideWrapper {
  width: 400vw;
  -webkit-animation: cohortSlide 18s ease infinite;
          animation: cohortSlide 18s ease infinite;
}

.cohortSlide {
  float: left;
  height: 100vh;
  width: 100vw;
}

.cohortSlide:nth-child(1) {
  background-color: blue;
}

.cohortSlide:nth-child(2) {
  background-color: blueviolet;
}

.cohortSlide:nth-child(3) {
  background-color: cadetblue;
}

.cohortSlide:nth-child(4) {
  background-color: cadetblue;
}

@-webkit-keyframes cohortSlide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -100vw;
  }
  50% {
    margin-left: -100vw;
  }
  60% {
    margin-left: -200vw;
  }
  70% {
    margin-left: -200vw;
  }
  80% {
    margin-left: -300vw;
  }
  90% {
    margin-left: -300vw;
  }
}

@keyframes cohortSlide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -100vw;
  }
  50% {
    margin-left: -100vw;
  }
  60% {
    margin-left: -200vw;
  }
  70% {
    margin-left: -200vw;
  }
  80% {
    margin-left: -300vw;
  }
  90% {
    margin-left: -300vw;
  }
}